<!DOCTYPE html>
{% load static %}
{{ user_context|json_script:"user" }}
<html>
<head>
    <meta charset="UTF-8">
    <title>Esoft - Личный кабинет</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script src="{% static "js/vue.min.js" %}"></script>
    <script src="{% static "js/axios.min.js" %}"></script>
    <script src="{% static "js/vue-router.js" %}"></script>
</head>
<body>
    <header id="app">
        <img class="Logo PersonalAreaLogo" src="{% static "images/logo.png" %}">

        <div class="Buttons">
          <a href="{% url 'tasks' %}"><button class="Button ChangeButton">Задачи</button></a>
          <a href="{% url 'performers' %}"><button class="Button ChangeButton">Исполнители</button></a>
          <a href="{% url 'managers' %}"><button class="Button ChangeButton">Менеджеры</button></a>
        </div>

        <div class="Profile">
            <img class="ProfileImg" src="{% static "images/profile.png" %}">
            <p class="NameOfUser">[[ user.firstname ]] [[ user.lastname ]]</p>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static "js/base.vue.js" %}"></script>

    <!-- <script>
      const value = JSON.parse(document.getElementById('hello-data').textContent);
      // const vm = new Vue({
      //     delimiters: ["[[", "]]"],
      // el: '#app',
      // data: {
      //   managers: [],
      //   value,
      // },
      // mounted() {
      //   axios.get("http://10.0.0.3:8000/api/managers/").then(response => {
      //     this.managers = response.data
      //   })
      // }
      // });

      const vm1 = new Vue({
          delimiters: ["[[", "]]"],
      el: '#app',
      data: {
        value,
      },
      });
  </script> -->
</body>
</html>