{% extends 'personalarea/base.html' %}
{% block content %}
{% load static %}
    <div id="app3">
        <div class="TaskItem" v-for="performer in performermanager">
            <table>
                <tr>
                    <td class="Performer">[[ performer.lastname ]] [[ performer.firstname ]] [[ performer.patronymic ]]</td>
                    <td class="Grade">[[ performer.grade ]]</td>
                </tr>
                <tr>
                    <td class="Manager">Менеджер: [[ performer.manager.lastname ]] [[ performer.manager.firstname ]] [[ performer.manager.patronymic ]]</td>
                </tr>
            </table>
        </div>
    </div>
  
    <script src="{% static "js/performer.vue.js" %}"></script>
{% endblock %}