{% extends 'personalarea/base.html' %}
{% block content %}
{% load static %}
    <div id="app4">
        <div class="FilterPanel">
            <p class="FilterHeader">Фильтрация списка</p>
            <div class="PerformerFilter" v-if="isManager">
                <span class="FilterSubheader">Исполнитель:</span>
                <select v-model="selectedPerformer">
                    <option v-for="performer in performers" v-if="performer.manager.login === user.login" v-bind:value="performer">[[ performer.lastname ]] [[ performer.firstname ]] [[ performer.patronymic ]]</option>
                    <option>Все</option>
                </select>
            </div>

            <div class="StatusFilter">
                <span class="FilterSubheader">Статус задачи:</span>
                <select v-model="selectedStatus">
                    <option>Запланирована</option>
                    <option>Исполняется</option>
                    <option>Выполнена</option>
                    <option>Отменена</option>
                    <option>Все</option>
                </select>
            </div>
        </div>
        
        <a href="{% url 'edittask' %}"><button class="TaskItem">
            <img class="AddImg" src="{% static "images/viewedit.png" %}">
        </button></a>
        <a v-if="isManager" href="{% url 'task' %}"><button class="TaskItem">
            <img class="AddImg" src="{% static "images/add.png" %}">
        </button></a>

        <br style="clear:both" />
        
        <div v-for="task in tasks" v-if="task.taskperformer.login === user.login">
            <div v-if="selectedStatus === 'Все'">
                <div class="TaskItem">
                    <table>
                        <tr>
                            <td class="Task">[[ task.taskname ]]</td>
                            <td class="Status">[[ task.taskstatus ]]</td>
                        </tr>
                        <tr>
                            <td class="User">Исполнитель: [[ task.taskperformer.lastname ]] [[ task.taskperformer.firstname ]] [[ task.taskperformer.patronymic ]] </td>
                        </tr>
                        <tr>
                            <td class="User">Менеджер: [[ task.taskperformer.manager.lastname ]] [[ task.taskperformer.manager.firstname ]] [[ task.taskperformer.manager.patronymic ]] </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div v-if="selectedStatus === task.taskstatus">
                <div class="TaskItem">
                    <table>
                        <tr>
                            <td class="Task">[[ task.taskname ]]</td>
                            <td class="Status">[[ task.taskstatus ]]</td>
                        </tr>
                        <tr>
                            <td class="User">Исполнитель: [[ task.taskperformer.lastname ]] [[ task.taskperformer.firstname ]] [[ task.taskperformer.patronymic ]] </td>
                        </tr>
                        <tr>
                            <td class="User">Менеджер: [[ task.taskperformer.manager.lastname ]] [[ task.taskperformer.manager.firstname ]] [[ task.taskperformer.manager.patronymic ]] </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div v-else-if="task.taskperformer.manager.login == user.login">
            <div v-if="selectedPerformer === 'Все' && selectedStatus === 'Все' || selectedPerformer.login === task.taskperformer.login && selectedStatus === task.taskstatus">
                <div class="TaskItem">
                    <button class="Trash" v-on:click="removeTask(task.taskid)">
                        <img class="TrashImg" src="{% static "images/trash.png" %}">
                    </button>
                    <table>
                        <tr>
                            
                            <td class="Task">[[ task.taskname ]]</td>
                            <td class="Status">[[ task.taskstatus ]]</td>
                        </tr>
                        <tr>
                            <td class="User">Исполнитель: [[ task.taskperformer.lastname ]] [[ task.taskperformer.firstname ]] [[ task.taskperformer.patronymic ]] </td>
                            
                        </tr>
                        <tr>
                            <td class="User">Менеджер: [[ task.taskperformer.manager.lastname ]] [[ task.taskperformer.manager.firstname ]] [[ task.taskperformer.manager.patronymic ]] </td>
                        </tr>
                    </table>
                    
                </div>
            </div>
            <div v-else-if="selectedPerformer.login === task.taskperformer.login && selectedStatus === 'Все' || selectedPerformer === 'Все' && selectedStatus === task.taskstatus">
                <div class="TaskItem">
                    <button class="Trash" v-on:click="removeTask(task.taskid)">
                        <img class="TrashImg" src="{% static "images/trash.png" %}">
                    </button>
                    <table>
                        <tr>
                            <td class="Task">[[ task.taskname ]]</td>
                            <td class="Status">[[ task.taskstatus ]]</td>
                        </tr>
                        <tr>
                            <td class="User">Исполнитель: [[ task.taskperformer.lastname ]] [[ task.taskperformer.firstname ]] [[ task.taskperformer.patronymic ]] </td>
                        </tr>
                        <tr>
                            <td class="User">Менеджер: [[ task.taskperformer.manager.lastname ]] [[ task.taskperformer.manager.firstname ]] [[ task.taskperformer.manager.patronymic ]] </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div v-if="deleteSuccess" class="SuccessBlock">
            <p class="Message">Задача успешно удалена</p>
        </div>
    </div>

    <script src="{% static "js/tasks.vue.js" %}"></script>
{% endblock %}