body {
    background-color: #f3f4f5;
    text-align: center;
    margin: 0;
}

header {
    background-color: white;
    height: 130px;
}

.Logo {
    height: 80px;
    display: block;
}

.LoginLogo {
    margin: 5% auto 5% auto;
}

.PersonalAreaLogo {
    margin: 25px 0 0 3%;
    float: left;
}

.Profile {
    float: right;
    margin: 40px 3% 0 0;
}

.ProfileImg {
    height: 50px;
    float: left;
    margin-right: 10px;
}

.NameOfUser {
    float: left;
    color: #37474f;
    font-family: Helvetica;
    font-size: 11pt;
}

.NumeOfUser {
    display: inline-block;
}

.Form {
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    padding: 30px;
}

.FormGroup {
    color: #546e7a;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 11pt;
}

.Enter {
    color: #37474f;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16pt;
    text-align: left;
    margin: 5px 5px 20px 5px;
}

input {
    width: 290px;
    height: 30px;
    margin: 5px;
    padding-left: 10px;
}

label {
    float: left;
    margin: 15px 5px 10px 5px;
}

.Button {
    background-color: #04a0ff;
    font-family: Helvetica;
    font-weight: normal;
    border-radius: 5px;
    font-size: 11pt;
    border: none;
    color: white;
    text-decoration: none;  
    cursor: pointer;
}

.Buttons {
    position: absolute;
    left: 0; 
    right: 0; 
}

.SubmitButton {
    width: 307px;
    height: 45px;
    margin: 4px 2px;
}

.ChangeButton {
    width: 237px;
    height: 45px;
    margin: 40px 15px 40px 15px;
}

.ErrorBlock {
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #e36464;
    display: block;
}

.SuccessBlock {
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #65cf7e;
    display: block;
}

.Message {
    color: white;
    font-family: Helvetica;
    font-size: 11pt;
    padding: 10px;
}
