<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>Esoft - Аутентификация</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
    <img class="Logo LoginLogo" src="{% static "images/logo.png" %}">
    <form class="Form" method="POST" id="authForm"> 
        <p class="Enter"> Вход </p>
        {% csrf_token %}
        {% for field in form %}
        <div class="FormGroup">
            {{field.label_tag}}
            <br>
            {{field}}
        </div>
        {% endfor %}
        <br>
        <input class="Button SubmitButton" type="submit" value="Войти">
    </form>
    {% if error %}
    <div class="ErrorBlock">
        <p class="Message">Неверный логин или пароль</p>
    </div>
    {% endif %}
</body>
</html>